body{
    background-color: black;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#logo img {
    width: 350px;
    height: auto;
}

#nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly; 
    width: 90%;  
    background-color: #333; 
    font-size:25px;
    border: 2px solid #333;
    border-radius: 50px;
}


#nav-links a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#nav-links a:hover {
    background-color: #00ff15;
    color: black;
    border-radius: 30px;
    width: 100px;
}

#nav-links a:focus{
    background-color: #00ff15;
    color: black;
    border-radius: 30px;
    width: 100px;
}

#nav-links img {
    width: 20px;
}

