#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; 
  margin: 10px;
}

#input-wrapper {
  display: flex;
  width: 700px;
  position: relative;
}

#input-wrapper input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #9c9a9a;
  border-radius: 50px;
  background-color: #333;
  padding-right: 40px; 
  width: 100%; 
  box-sizing: border-box; 
  color: white; 
}

#input-wrapper button {
  padding: 12px;
  font-size: 16px;
  color: white;
  border: none;
  border-top-right-radius: 50px; 
  border-bottom-right-radius: 50px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0; 
  height: 100%; 
  background: none;
}

#input-wrapper button:hover {
  background-color: #00ff15; 
  color: black;
}

#input-wrapper button img {
  width: 20px;
  height: 20px; 
}