
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

#main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#searchbar {
  margin-bottom: 20px;
}

#input-wrapper {
  display: flex;
  align-items: center;
}

#input-wrapper input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#input-wrapper button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

#input-wrapper button:hover {
  background-color: darkgreen;
}

#search-results {
  margin-top: 20px;
}

.game-card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.game-card img {
  max-width: 100%;
  border-radius: 10px;
}

.game-card h3 {
  color: white;
  margin-top: 10px;
}

.game-card:hover {
  background-color: #444;
}
